/* styleSheet for average tips */
.tipsByBusiness {
    display: grid;
    /* grid-template-columns: auto; */
    margin: 10px;
    border: 5px solid rgb(61, 100, 80);
    min-width: 500px;
   /* background-color: rgb(58, 61, 58); */ /*for night mode*/
}