.company{
    position: fixed;
    width: 100vw;
}
.companyProfile {
    display: grid;
    width: 100vw;
    height: 500px;
    overflow:auto;
    background:#fff;
    position: fixed;
}

/* .menu {
    position: fixed;
    padding: 10px 10px 10px 10px;
} */

/* .Search {
    display: grid;
    grid-auto-flow: column;
    width: 500px;
} */
